@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

body{
    width: 100vw;
    height: 40vh;
    font-family: 'Open Sans';
    background-image:linear-gradient(to bottom, #196c7a,#3f9af0) ;
    overflow-x: hidden;
}
.borda .titulos{
    font-size: 60px;
    position: relative;
    top: 300px;
}
nav{
    position: relative;
    margin: 60px auto 0;
    width: 430px;
    height: 50px;
    background: #34495e;
    border-radius: 1rem;
    font-size: 0;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.23);
    
}
nav a{
    font-size: 15px;
    text-transform: uppercase;
    color: aliceblue;
    text-decoration: none;
    line-height: 50px;
    z-index: 1;
    position: relative;
    display: inline-block;
    text-align: center;
    
}
.nav .animation{
    position: absolute;
    height: 100%;
    top: 0;
    z-index: 0;
    background: #1abc9c;
    border-radius: 2rem;
    transition: all .5s ease 0s;
   
}
nav a:nth-child(1){
    width: 100px;
    
}
nav .start-home, a:nth-child(1):hover ~ .animation{
    width: 100px;
    left: 0;
}
nav a:nth-child(2){
    width: 100px;
    opacity: 0.3;
}
nav a:nth-child(2):hover ~ .animation{
    width: 110px;
    left: 100px;
}
nav a:nth-child(3){
    width: 100px;
    opacity: 0.3;
}
nav a:nth-child(3):hover ~ .animation{
    width: 100px;
    left: 210px;
}
nav a:nth-child(4){
    width: 110px;
    opacity: 0.3;
}


.text{
    display: flex;
    margin-left: 3rem;
}
.text h1{
    font-size: 60px;
    position: relative;
    top: 300px;
}
.text h2{
    font-size:26px ;
    position: relative;
    top: 380px;
    right: 315px;
}
/* botões linkedin e github */                      
.social-media{
    margin-top: 28rem;
    margin-left: 2rem;
    display: flex;
}
.social-media a {
    text-decoration: none;
    color: #1E1E2A;
    padding: 1rem 4rem;
    border: 1px solid #1E1E2A;
    min-width: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s ease-in-out;  
}
a:hover{
    transform: translateY(-180deg);
    transition-delay: 1s ease-in-out; 
    background-color: #ffffff;
}

.nav{
    display: inline-block;
    position: relative;
    margin: 270px auto 0;
}
.nav a{
    position: relative;
    left: 20px;
    
}

#section2{
    width: 410vw;
    height: 500px;
    font-size: 50px;
    text-align: center;
    margin: 10px 5px;
    position: absolute;
    top: 848px;
    right: -750px;
    background-color:#336288;
}
#section3{
    width: 410vw;
    height: 500px;
    font-size: 50px;
    text-align: center;
    margin: 10px 5px;
    position: relative;
    top: 81rem;
    right: 756px;
    background-color: #264a68;  
}
.habilidades h1{
    font-size: 40px;
    position: relative;
    left: 2rem;
    font-family: 'Teko';
    justify-items: center;
}
.habilidades h2{
    display: flex;
    font-size: 32px;  
    position: relative;
    top: 160px;  
    margin-right: 2rem;
    right: 130px;
}
.Sobre{
    display: flex;
    justify-content: flex-start;
    position: relative;
    bottom: -141px;   
}
.Sobre h1{
    font-size: 40px;
    position: relative;
    left: 94rem;
    font-family: 'Teko';
    justify-items: center;
}
.Sobre h2{
    display: flex;
    font-size: 32px;  
    position: relative;
    top: 110px;  
    margin-right: 2rem;
    
}
span{
    display: flex;
    font-size: 32px;  
    position: relative;
}
/* scroll */
::-webkit-scrollbar{
    width: 20px;
    height: 20px;
}
::-webkit-scrollbar-thumb{
    background: linear-gradient(to bottom, #34495e,#2c3e50);
    border-radius: 50px;
}
::-webkit-scrollbar-track{
    background: #474747;
}
/*  */

.habilidades{
    display: flex;
    justify-content: flex-start;
    position: relative;
    bottom: -396px; 
}
.habilidades h1{
    display: flex;
    font-size: 32px;  
    position: relative;
    top: 110px;  
    margin-right: 2rem;
}
.section{
    background-color: #ffffff;
    position: relative;
    top: 100px;
    
}